/* importar el styles.css */
@import url(styles.css);

html {
    overflow-x: hidden;
}

main {
    height: 100vh;
    background-size: cover;
    transform: translate(90deg);
    background-repeat: no-repeat;
    z-index: -1;
}

body {
    background-size: cover;
    top: 50px;
    width: auto;
}

#superposicion {
    z-index: 10;
    width: 207px;
    position: relative;
    left: 131px;
    top: 304px;

}

#fondoSvg {
    position: relative;
    top: -180px;
    left: -64px;
    z-index: -2;
    width: 287px;
    transform: rotate(-15deg);
    transition: transform 2.0s;
}

#fondoSvg.rotated90 {
    transform: rotate(36deg);
}

#fondoSvg.rotatedMinus180 {
    transform: rotate(-164deg);
}

.menu {
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 45%;
    border: none !important;
    background-color: antiquewhite !important;
}

.inicio {
    background-color: antiquewhite;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    width: 45%;
    border: none !important;
    background-color: antiquewhite !important;
}


.card>.imgmenu {
    width: 100%;
    height: 250px;
}



@media (min-width: 750px) {

    body {
        width: auto;
        background-size: cover;
    }

    #superposicion {
        width: 350px;
        height: 160px;
        left: 170px;
        top: 520px;
    }

    #titulo {
        font-size: 35px;
        text-align: center;
        color: black;

    }

    #presentacion {
        font-size: 20px;
        color: black;
    }

    #fondoSvg {
        position: relative;
        top: -290px;
        left: -70px;
        z-index: -2;
        width: 480px;
    }
}

@media (min-width: 1300px) {

    body {
        width: auto;
        background-size: cover;
    }

    #superposicion {

        left: 550px;
        top: 350px;
    }

    #fondoSvg {
        position: relative;
        top: -290px;
        left: -86px;
        z-index: -2;
        width: 480px;
    }

    .card>.imgmenu {
        height: 400px;
    }
}